<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.aladdin.demo.crawler.entity.ZhihuQuestion" alias="ZhihuQuestion"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/aladdin/crawler_demo/sql/SqlMapZhihuDao.xml"/>
    </mappers>
</configuration>
